img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    width: 30%;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

.line1 {
    margin-left: 30px;
}

input {
    background-color: black;
    border-radius: 3px;
    color: white;
}

.skilles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Professtional {
    background-color: beige;
    border-radius: 10px;
    margin: 10px;
    width: 50%;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    

}

.personal {
    background-color: beige;
    border-radius: 10px;
    margin: 10px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projectname {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Project1{
    background-color: beige;
    border-radius: 10px;
    margin: 10px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.project2{
    background-color: beige;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.project3{
    background-color: beige;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.footer{
display: flex;
justify-content: space-between;
align-items: center;
 gap: 15px;

}


.row1{
    background-color: beige;
    border-radius: 10px;
     line-height: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 48%;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.row2{
    background-color: beige;
    border-radius: 10px;
     padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 48%;

}


/* 
.Contact{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.email{
    display: flex;
    align-items: center;
     
     
}
input{
    background-color:whitesmoke ;
}
[type="button"]{
    color: white;
    background-color: black;
    border-style: none;
    width: 150px;
    height: 30px;
    border-radius: 20px;

}
