 .container {
    height: 400px;
    width: 800px;
    background-color: bisque;

}

body {
    margin: 30px;
}

.box {
    height: 100px;
    width: 100px;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 56, 136);
    position: relative;
    top:0 ;
    left: 0;
    animation: tony 8s linear alternate;
/* animation: name duration timing-function delay iteration-count direction fill-mode; */
 /* animation-name: ; 
animation-duration: ;
animation-timing-function: ;
animation-delay: ;
animation-iteration-count: ;
animation-direction: ;
animation-fill-mode: ;
 
  */






}

 @keyframes tony {

     0%{
        top: 0;
        left: 0;
     }
     25%{
        top: 0;
        left: 700px;

     }
     50%{
        top: 300px;
        left: 700px;
     }
     75%{
        top: 300px; 
        left: 0px;
     }
     100%{
        top: 0;
        left: 0;
     }

     





} 



   /*  

   @keyframes tony {
    0%{
        transform: translate(0);
    }
    25%{
        transform: translateX(700px) ;
    }
    50%{
        transform:translateX(700px) translateY(300px) ;
    }
    75%{
        transform: translateX(700px) translateY(300px) translateX(-700px) ;
    }
    100%{
        transform:  translateX(700px) translateY(300px) translateX(-700px) translateY(-300px) ;
    }
   }