div {
    background-color: #c1d0cb;
    background-image: url(/assets/images/image.png);
    border: 5px solid black;
    height: 500px;
    width: 500px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll ;

}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

h2 {
    position: absolute;
    left: 30px;
    bottom: 60px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: medium;
}
h3{
    position: absolute;
     left: 30px;
     bottom: 10px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
 
     



