<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title> 
    <style>
.header{
    display:flex;

align-items: center;
justify-content: space-between;

}
.navbar{
    display: flex;
    align-items: center;
justify-content: space-between;
width:60% ;


}
.logo{
    width: 40%;
}
 a{text-decoration: none;

 }
    </style>
</head>
<body>
    <!-- layouts starts here -->
<div class="header">

<div class="LOGO"> 
<a href="https://achieversit.in/"><img src="/assets/images/image.png" alt="ACHIEVERSIT LOGO"></a>
 </div>

 <nav class="navbar"> 

 <a href="">home</a>
 <a href="">services</a>
 <a href="">feedback</a>


 

</nav>

</div> 

</body>
</html>